<?xml version="1.0" encoding="utf-8"?>
<!-- 
  Versi 'package' sudah dihapus dari sini seperti rekomendasi sebelumnya.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      SOLUSI: 
      Semua atribut (label, icon, theme, backupRules) telah dihapus dari tag <application>.
      Ini akan menghentikan build agar tidak mencari resource (seperti @string/app_name, 
      @mipmap/ic_launcher, dll.) yang tidak ada di proyek Anda.
    -->
    <application>
        
        <activity
            android:name=".MainActivity"
            android:exported="true"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

